html, body {
  height: 100%; /* Allow full height for body */
  margin: 0; /* Remove default margin */
  overflow: hidden; /* Prevent scrolling */
}

body {
  background-color: #363636;
}
* {
  margin: 0;
  padding: 0;
}
.gamearea * {
  border: 0;
  margin: 0;
  padding: 0;
}


.gamearea .logo,
.progress {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.gamearea .logo {
  background: url('../icons/progressLogo.Light.png') no-repeat center / contain;
  width: 154px;
  height: 130px;
}

.gamearea .progress {
  height: 18px;
  width: 141px;
  margin-top: 90px;
}



.gamearea .footer .webgl-logo,
.title,
.fullscreen {
  height: 100%;
  display: inline-block;
  background: transparent center no-repeat;
}



#gameContainer {
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
}